button{
    margin-left: 140px;
    border: 1px black solid;
    padding-left:3px;
    padding-right:5px;
    border-radius: 4px;
     background-color: brown;
     color:white;
}
h2{
    text-align: center;
}